
    <div id="sg-advanced">

        <!-- /BREADCRUMBS -->

            <div class="sg-navigation">
                <a href="#/datasets" title="Change Dataset">Dataset</a>: {{dataset.title}}
                &#187;
                <a href="#/{{dataset.id}}/{{dataset.title}}" title="Change Analysis">Analysis</a>: {{analysis.title}}
            </div>

        <!-- /BREADCRUMBS -->

        <!-- /TITLE -->

            <div class="sg-title">
                <h2>Find Animal at Sheep Genetics using Angular</h2>
            </div>

        <!-- /TITLE -->

                <label>Animal ID</label><input ng-model="animalid"></input>
                    <div class="field submit">
                        <input type="button" ng-click="Search()" value="Show Results ({{querycount}})" />
                    </div>

                </div>

            <!-- /FILTERS -->

        </div>

        <div class="sg-right">

            <h3>
                Search Results
                <i ng-show="query.length">
                    ({{querycount}} Results Found)
                </i>
            </h3>


            


            <!-- SEARCH RESULTS -->

                <div class="sg-results">

                    <table class="table table-striped" border="1">
                        <thead>
                            <tr>
                                <th align="left">Animal ID</th>

                                <th ng-repeat="asbv in asbvs | filter:{display:true}">
                                    <abbr title="{{asbv.label}} - {{asbv.description}}">{{asbv.abbrev}}</abbr>
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="result in query" class="result">
                                <td>{{result.id}}</td>
                                <td ng-repeat="asbv in asbvs | filter:{display:true}" align="center">
                                    {{result.data[asbv.id].value}}<br />
                                    <small>
                                        {{result.data[asbv.id].percentile}}%
                                    </small>
                                </td>

                            </tr>
                            <tr>
                                <td colspan="{{(asbvs|filter:{display:true}).length + 1}}" class="empty" ng-show="!query.length">
                                    No results
                                </td>
                            </tr>
                        </tbody>

                        <tfoot>
                            <tr>
                                <td colspan="{{(asbvs|filter:{display:true}).length + 1}}">

                                    <span ng-show="query.length">
                                        <pagination total-pages="totalPages" current-page="currentPage" class="pagination-small"></pagination>
                                    </span>

                                    <!-- COLUMN SELECT -->

                                        <div class="sg-columns">

                                            <a onclick="$(this).parent().find('div').toggle();">Select Columns &#187;</a>

                                            <div class="sg-columns-toggle">

                                                <ul>
                                                    <li ng-repeat="asbv in asbvs">
                                                        <input type="checkbox" ng-model="asbv.display" id="{{asbv.abbrev}}">
                                                        <abbr title="{{asbv.label}} - {{asbv.description}}">{{asbv.abbrev}}</abbr>
                                                    </li>
                                                </ul>

                                                <br clear="all" />
                                            </div>

                                        </div>

                                    <!-- /COLUMN SELECT -->

                                </td>
                            </tr>
                        </tfoot>
                    </table>


                </div>

            <!-- /SEARCH RESULTS -->


        </div>


    </div>

    <!-- LOADING SCREEN -->

    
    <br clear="all" />

    <!-- DEBUG -->

    <p style="padding: 10px; border: 1px solid #9F9F9F; font-size: 10px; border-radius: 5px; background-color: #EFEFEF; overflow: auto; height: 500px; margin-top: 100px;">

        currentPage: {{currentPage}}<br />
        resultsPerPage: {{resultsPerPage}}<br />
        totalPages: {{totalPages}}<br />
        querycount: {{querycount}}<br />

        --------<br />

        dataset: {{dataset}}<br />
        Total Datasets: {{datasets.length}}<br />

        --------<br />

        analyis: {{analysis}}<br />
        Total Analyses: {{analyses.length}}<br />

        --------<br />

        ids: {{ids}}<br />
        sirestudname: {{sirestudname}}<br />
        sirestudid: {{sirestudid}}<br />
        studnameflock: {{studnameflock}}<br />
        progenyminimum: {{progenyminimum}}<br />
        withcurrentdropprogeny: {{withcurrentdropprogeny}}<br />
        usedinmorethanoneflock: {{usedinmorethanoneflock}}<br />
        sheepcrcsire: {{sheepcrcsire}}<br />
        merinosuperiorsire: {{merinosuperiorsire}}<br />

        --------<br />

        breed: {{selectedBreeds() | json}}<br />
        breeds: {{breeds}}<br />

        --------<br />

        sex: {{sex}}<br />
        sexes: {{sexes}}<br />

        --------<br />

        sirestatus: {{sirestatus}}<br />
        sirestatuses: {{sirestatuses}}<br />

        --------<br />

        woolgroup: {{woolgroup}}<br />
        woolgroups: {{woolgroups}}<br />

        --------<br />

        query: {{query}}<br />

        --------<br />

        asbvs: {{asbvs}}<br />

    </p>

    <!-- /DEBUG -->

